[core]
    editor = vim
[user]
    name = Lauri Lehmijoki 
    email = lauri.lehmijoki@iki.fi 
[diff]
[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    r = !git l -20
    l = "!source ~/.githelpers && pretty_git_log"
    ra = !git r --all
    pom = push origin master

[merge]
    tool = vimdiff

