.muttrc
.mutt
.CF89AA64
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.bash_history
.cups/
.diche/
.dropbox/
.fontconfig/
.gdb_history
.gem/
.irb_history
.karaf/
.keepassx/
.lesshst
.m2/
.macports/
.matlab/
.netExtender.log
.netextender
.npm/
.python-eggs/
.ssh/
.subversion/
.subversion_IDEA/
.vimgolf
.viminfo
.swp
VirtualBox VMs/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
RubymineProjects/
VirtualBoxVMs/
tmp/
tags
.scala_history
.hours
.vagrant
.vagrant*
VPN
.gmvault
gmvault-db
